#ignore chroma persistant storage that is locally created
chroma_persistent_storage/

# ignore the venv directory
venv/
# ignore the .vscode directory
.vscode/
# ignore the .idea directory
.idea/
# ignore the .env file
.env
.DS_Store